extends ../layout

block content
  .mdl-layout.mdl-js-layout.mdl-color--grey-100
      main.mdl-layout__content
        .mdl-grid
          #user
          for application in user.applications
            form.form-card.form-horizontal(action='/overview/handle-button', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='applicationId', value=application.id)
              //To store the deadline date arguement to turning cards red 
              input(type='hidden', name='deadlineDate', value=application.university.deadline)
              .mdl-card.mdl-shadow--2dp(name='card',id=application.university)              
                .mdl-card__supporting-text
                  h5 #{application.university.name}
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    textarea#sample5.mdl-textfield__input(type='text', rows='1', name='universityDescription')
                      if application.university.description
                        | #{application.university.description}
                    label.mdl-textfield__label(for='sample5') Description of university
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label              
                    input#datetimepicker.datepicker.mdl-textfield__input(type='text', name='universityDeadline', value=application.university.deadline)
                    label.mdl-textfield__label(for='datetimepicker') Deadline

                  
                .mdl-card__actions.mdl-card--border
                  button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit', name='Update', value='Update')
                    | Update
                  button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit', name='View', value='View')
                    | View
                  if application.university.done
                    button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit', name='Undo', value='Undo')
                      | Undo!!
                  else
                    button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit', name='Done', value='Done')
                      | Done?
                .mdl-card__menu
                  button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(type='submit', name='Delete', value='Delete')
                    i.material-icons delete
                

          form.form-card.form-horizontal(action='/overview/handle-button', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .mdl-card.mdl-shadow--2dp
              .mdl-card__title
                h5 New Application
              .mdl-card__supporting-text
                .mdl-textfield.mdl-js-textfield
                  input#sample1.mdl-textfield__input(type='text', name='universityName')
                  label.mdl-textfield__label(for='sample1') Name of university
                
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  textarea#sample5.mdl-textfield__input(type='text', rows='1', name='universityDescription')
                  label.mdl-textfield__label(for='sample5') Description of university
              .mdl-card__actions.mdl-card--border
                button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit', name='Add', value='Add Application')
                  | Add application

  //Change the color of cards and deadline                
  script(src='/js/overview.js')
